<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All the songs</title>
</head>
<body>
<h1> All the Albums</h1>

<div th:each="album : ${albums}">
<h3 th:text="${album.title}">Album Title</h3>
<p>
    Artist: <span th:text="${album.artist}"></span>

</p>
    <p>
        Number of singles: <span th:text="${album.songCount}"></span>
    </p>
    <p>
        Length:<span th:text="${album.length}"></span>
    </p>
    <a th:href="${album.imageUrl}">Click here</a>

</div>
</div>
</div>
<div>
    <form method="POST" action="/albums">
        Title:<input name="title" />
        Album:<input name="album" />
        Artist:<input name="artist" />
        Singles:<input name="songCount" />
        Length:<input name="length" />
        Image:<input name="imageUrl" />
        <input type="submit" />



    </form>
</div>

</body>
</html>