<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
<h1 th:text=${album.title}></h1>

<div th:each="song : ${album.songs}">
    <h3 th:text="${song.title}"> </h3>

</div>

<h2>Add a new song to this Album!</h2>
<form method="POST" th:action="${'/albums/' + album.id + '/songs'}">
    Title:<input name="title" />
    Album:<input name="album" />
    Length:<input name="length" />
    Track Number:<input name="trackNumber"/>
    <input type="submit" />
</form>
</body>
</html>